body {
  background: #000000;
  !important;
}
.clear-divide{
  background-color: #000000;
  height: 4rem;
}

.bottom-divide{
  background-color: #000000;
  height: 10rem;
}

.container{
  text-align: center;
  background-color: #1be215;
  height: 7rem;
}

.paste-bin{
  text-align: center;
  color: white;
}
